

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 2rem 3rem; */
  max-width: 600px;
  margin:0.5rem;
}

.aboutCuriel,
.aboutApplication {
  background-color: #ffffff;
  /* border: none; */
  padding:0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #004477;
  box-shadow: 2px 2px 0px 0px #004477;
}


.aboutCuriel{
    margin-left: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width:600px;

}

.leftEdu{
    overflow:auto;
    padding:1rem;

}
/*[31] MozDevNet, ::“-webkit-scrollbar - CSS: Cascading style sheets: MDN,” MDN Web Docs, https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar (accessed Dec. 14, 2023).
I wrote the background, width, borders, cursors, and border-radius for these selectors.*/
.leftEdu::-webkit-scrollbar {
    width: 4px;
    box-sizing: border-box;

}

.leftEdu::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.leftEdu::-webkit-scrollbar-thumb {
    background: #888;
    border:1px solid #fff;
    border-radius: 10px;
}

.leftEdu::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor:pointer;

}

.leftEdu::-webkit-scrollbar-thumb:active {
    background: #444;
    cursor:pointer;

}

.aboutApplication p,
.aboutCuriel p {
  margin: 0;
  width: 100%;
}
.aboutContainer h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top:1rem;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}
.tab {
  display: inline-block;
  width: 4em;
}
.educationContainer {
  flex:1;
  display: flex;
  justify-content: space-between;
  max-height:240px;
  gap:0.5rem;
}
.aboutCuriel h4{
    flex:1;
    margin-top:0;
    margin-bottom:0;
}
.aboutCuriel p{
    flex:1;
}
.imageContainer {
  display:flex;
  /* width: 12rem; */
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imageContainer img{
    border-radius:0.5rem;
}

body{
    display:flex;
    background: #f7f9fc;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #2c3e50;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:615px) {
    div.aboutApplication,
    div.aboutCuriel{
        max-width:550px;
    }
    .aboutContainer h3{
        margin-right:20px;
        margin-left:20px;
    }
}
@media (max-width:600px) {
    div.aboutApplication,
    div.aboutCuriel{
        max-width:530px;
    }
    .aboutContainer h3{
        margin-right:20px;
        margin-left:20px;
    }
}
@media (max-width:560px) {
    div.aboutApplication,
    div.aboutCuriel{
        max-width:500px;
    }
    .aboutContainer h3{
        margin-right:20px;
        margin-left:20px;
    }
}
@media (max-width:510px) {
    div.aboutApplication,
    div.aboutCuriel{
        max-width:450px;
    }
    .aboutContainer h3{
        margin-right:20px;
        margin-left:20px;
    }
}
@media (max-width:460px) {
    div.aboutApplication,
    div.aboutCuriel{
        max-width:400px;
    }
    .aboutContainer h3{
        margin-right:20px;
        margin-left:20px;
    }
}
@media (max-width:415px) {
    div.aboutApplication,
    div.aboutCuriel{
        max-width:375px;
    }
    .aboutContainer h3{
        margin-right:20px;
        margin-left:20px;
    }
}

@media (max-width:386px) {
    div.aboutApplication,
    div.aboutCuriel{
        max-width:350px;
    }
}

